In [11]:
from urllib.request import urlopen
import pandas as pd
import json
page = urlopen('https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json')
data_json = json.loads(page.read())
df=pd.DataFrame.from_dict(data_json)

attributr=['id','num','name','img','type','height','weight','candy','egg','spawn_chance','avg_spawns','spawn_time','multipliers','weaknesses']
dic={}
for i in attributr:
  temp=[]
  for j in range(len(df)):
    temp.append(df.values[j][0][i])
  dic[i]=temp
  
data=pd.DataFrame(dic)

In [12]:
data

,id,num,name,img,type,height,weight,candy,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,2 km,0.6900,69.00,20:00,[1.58],"[Fire, Ice, Flying, Psychic]"
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,Not in Eggs,0.0420,4.20,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]"
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,Not in Eggs,0.0170,1.70,11:30,None,"[Fire, Ice, Flying, Psychic]"
3,4,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,Charmander Candy,2 km,0.2530,25.30,08:45,[1.65],"[Water, Ground, Rock]"
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,Not in Eggs,0.0120,1.20,19:00,[1.79],"[Water, Ground, Rock]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,147,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,[Dragon],1.80 m,3.3 kg,Dratini Candy,10 km,0.3000,30.00,06:41,"[1.83, 1.84]","[Ice, Dragon, Fairy]"
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,[Dragon],3.99 m,16.5 kg,Dratini Candy,Not in Eggs,0.0200,2.00,11:57,[2.05],"[Ice, Dragon, Fairy]"
148,149,149,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,"[Dragon, Flying]",2.21 m,210.0 kg,Dratini Candy,Not in Eggs,0.0011,0.11,23:38,None,"[Ice, Rock, Dragon, Fairy]"
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,[Psychic],2.01 m,122.0 kg,None,Not in Eggs,0.0000,0.00,N/A,None,"[Bug, Ghost, Dark]"
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,[Psychic],0.41 m,4.0 kg,None,Not in Eggs,0.0000,0.00,N/A,None,"[Bug, Ghost, Dark]"

# Get all Pokemons whose spawn rate is less than 5%

In [30]:
data[data['avg_spawns']<5.00]['name']

1         Ivysaur
2        Venusaur
4      Charmeleon
5       Charizard
7       Wartortle
          ...
145       Moltres
147     Dragonair
148     Dragonite
149        Mewtwo
150           Mew
Name: name, Length: 67, dtype: object

# Get all Pokemons that have less than 4 weaknesses

In [46]:
index=[]
for i in range(len(data['weaknesses'])):
  if(len(data.iloc[i]['weaknesses'])<4):
    index.append(i)

print((data.iloc[index])['name'])

3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
          ...
145       Moltres
146       Dratini
147     Dragonair
149        Mewtwo
150           Mew
Name: name, Length: 102, dtype: object

#Get all Pokemons that have no multipliers at all

In [55]:
data[data['multipliers'].isnull()]['name']

2        Venusaur
5       Charizard
8       Blastoise
11     Butterfree
14       Beedrill
          ...
144        Zapdos
145       Moltres
148     Dragonite
149        Mewtwo
150           Mew
Name: name, Length: 81, dtype: object

#Get all Pokemons whose spawn time is less than 300 seconds.

In [75]:
data['hour']=data['spawn_time'].str.split(":").str[0]
data['min']=data['spawn_time'].str.split(":").str[1]

In [76]:
import numpy as np

In [92]:
data['hour']=data['hour'].replace('N/A',0)
data['min']=data['min'].replace('N/A',0)

In [103]:
data['hour']=data['hour'].astype(int)
data['min']=data['min'].astype(int)

In [104]:
data['time_in_sec']=(data['hour']*60+data['min'])*60

In [106]:
data[data['time_in_sec']<300]

,id,num,name,img,type,height,weight,candy,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,hour,min,time_in_sec
131,132,132,Ditto,http://www.serebii.net/pokemongo/pokemon/132.png,[Normal],0.30 m,4.0 kg,None,Not in Eggs,0.0,0.0,N/A,None,[Fighting],0,0,0
143,144,144,Articuno,http://www.serebii.net/pokemongo/pokemon/144.png,"[Ice, Flying]",1.70 m,55.4 kg,None,Not in Eggs,0.0,0.0,N/A,None,"[Fire, Electric, Rock, Steel]",0,0,0
144,145,145,Zapdos,http://www.serebii.net/pokemongo/pokemon/145.png,"[Electric, Flying]",1.60 m,52.6 kg,None,Not in Eggs,0.0,0.0,N/A,None,"[Ice, Rock]",0,0,0
145,146,146,Moltres,http://www.serebii.net/pokemongo/pokemon/146.png,"[Fire, Flying]",2.01 m,60.0 kg,None,Not in Eggs,0.0,0.0,N/A,None,"[Water, Electric, Rock]",0,0,0
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,[Psychic],2.01 m,122.0 kg,None,Not in Eggs,0.0,0.0,N/A,None,"[Bug, Ghost, Dark]",0,0,0
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,[Psychic],0.41 m,4.0 kg,None,Not in Eggs,0.0,0.0,N/A,None,"[Bug, Ghost, Dark]",0,0,0

TypeError: ignored